PORT=5000
MONGODB_URI=mongodb+srv://Kartick_das:<db_password>@cluster0.5ycrpqe.mongodb.net/safecart?retryWrites=true&w=majority
JWT_SECRET=yoursupersecurejwtsecretkeygoeshere12345!
CARRIER_TRACKING_API_KEY=your_trackcourier_api_key_here
CARRIER_TRACKING_MOCK=true
DEFAULT_CARRIER=delhivery
ENABLE_TRACKING_CRON=true
